/*CSS File*/
/*Importing Google Font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
*{
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	text-decoration: none;
}
html{
	margin: 0; padding: 0;
}
#navbar{
	background-color: white;
	padding-bottom: 10px;
	box-shadow: 0 0 10px 5px #CBD4DF;
}
#navbar #navbar-contents{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
}
#navbar #navbar-contents a{
	color: #2E303A;
}
#navbar #navbar-contents .hover :hover{
	color: #7A95FF;
	transition: 0.2s;
}
.right{
	float: right;
}
::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px white; 
}
::-webkit-scrollbar-thumb {
	background: #2E303A;
	border: 0.5px solid black; 
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #232429;
}
#login-wrapper{
	margin-top: 80px;
}
#login-box{
	background-color: white;
	margin: auto;
	padding: 30px 20px 20px 20px;
	width: 25%;
	border-radius: 20px;
	box-shadow: 0 0 10px 5px #CBD4DF;
}
#login-title{
	text-align: center;
	margin-bottom: 20px;
	border-radius: 20px;
}
#login-title h1, #login-title h3{
	color: #2E303A;
}
#login-main{
	text-align: center;
}
#loginbutton{
	margin-top: 50px;
}
#error_box{
	margin: auto;
	width:400px;
	text-align: center;
}
#error_notif{
	margin-top: 20px;
	padding: 20px;
	background: white;
	box-shadow: 0 0 10px 5px #CBD4DF;
}
body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:  #DCE4EE;
	
}
body #content{
	margin: 20px 20px 20px 20px;
	background-color: white;
	border-radius: 25px 25px;
	padding-bottom: 10px;
	box-shadow: 0 0 10px 5px #CBD4DF;
	min-height: 30%;
}
#page-title{
	margin: 20px;
	text-align: center;
}
#page-title h1{
	padding-top: 20px;
	font-size: 60px;
	color: #2E303A
}
#wrapper{
background-color: white;
}
#wrapper #submenu{
	padding: 10px 10px 10px 10px;
	background-color: #2E303A;
}
#wrapper #submenu a{
	color: white;
}
#wrapper #submenu a .searchbar{
	color: white;
}
#wrapper #submenu :hover{
	color: #7A95FF;
	transition: 0.2s;
}
#subcontent{
	margin: 20px 20px 20px 20px;
	padding-bottom: 10px;
	box-shadow: 10px #CBD4DF;
}
#subtitle{
	padding: 10px 0 10px 0;
}
#tablerecords{
	margin-bottom: 20px;
	background-color: #CBD4DF;
	border-collapse: collapse;
	width: 100%;
}
#tablerecords thead{
	color: white;
	background-color: #2E303A;
	text-align: left;
}
#tablerecords a{
	font-weight: bold;
	font-size: 16px;
}
#tablerecords a:hover{
	color: #7A95FF;
	transition: 0.2s;
}
#tablerecords td, #tablerecords th{
	padding: 10px;
}
td :nth-child(even){
	background-color: rgb(0, 0, 0);
}
.form-wrapper{
	border-radius: 5px;
  	background-color: #DCE4EE;
  	padding: 20px;
    width: 80%;
    margin: 0 auto;
	display: flex;
}
.form-wrapper #form-half{
	width: 45%;
    padding: 20px;
	float: left;
}
.text{
	width: 100%;
  	padding: 12px;
  	margin: 8px 0;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}
input[type=submit]{
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 20px;
	padding: 10px;
}
input[type=submit]:hover {
	background-color: #7A95FF;
	transition: 0.2s;
}
button[type=submit]{
	background-color: white;
	border: 1px solid #ccc;
	margin-top: 365px;
	padding: 10px;
}
button[type=submit]:hover {
	background-color: #7A95FF;
	transition: 0.2s;
}
select{
	width: 100%;
  	padding: 12px;
  	margin: 8px 0;
  	border: 1px solid #ccc;
  	box-sizing: border-box;
}

.form-wrapper-occupant {
	border-radius: 5px;
  	background-color: #DCE4EE;
  	padding: 20px;
    width: 80%;
    margin: 30px auto;
	height: 50px;
	display: flex;

}

.download-button button {
	background-color: rgb(53, 221, 53);
	border-radius: 5px;
	outline: none;
	width: 100px;
}

.download-button span button{
	background-color: rgb(235, 51, 51);	
}

.download-button button a{
	color: rgb(255, 255, 255);
}

.chart-con{
	border-color: 1px solid black;
	
}
#myChart{
	height: 400px;
	width: 900px;
	margin: auto;
};

.center{
	text-align: center
}

#wrapper #chartsubmenu{
	padding: 10px 10px 10px 10px;
	background-color: #2E303A;
	text-align: center;
}

#wrapper #chartsubmenu a{
	color: white;
}